header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

main {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

}

.instructions {
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    padding: 25px;
    width: 50%;
    flex-direction: column;
    align-items: center;

}

.quiz {
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    padding: 25px;
    width: 50%;
    flex-direction: column;
    align-items: center;

}

.answer-choices {

    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    padding: 25px;
    width: 50%;
    flex-direction: column;
    align-items: center;

}

